:root {
    --dark-primary-color: #6a4caf; /* Green */
    --dark-secondary-color: #ff4081; /* Pink */
    --dark-accent-color: #ff4081; /* Pink */
    --dark-background-color: #222; /* Dark background */
    --dark-background-color-rgb: 34, 34, 34; /* Dark background RGB */
    --dark-text-color: #ffffff; /* White text */
    --dark-text-color-complement: #363636; /* Light gray text */
    --dark-border-color: #333333; /* Dark border */
    --dark-link-color: #ff4081; /* Pink link */
    --dark-link-hover-color: #ff4081; /* Pink link hover */
    --dark-card-background-color: #1e1e1e; /* Dark card background */

    --light-primary-color: #6200ea; /* Purple */
    --light-secondary-color: #03dac6; /* Teal */
    --light-accent-color: #03dac6; /* Teal */
    --light-background-color: #D1D1D1; /* Light background */
    --light-text-color: #000000; /* Black text */
    --light-border-color: #e0e0e0; /* Light border */
    --light-link-color: #6200ea; /* Purple link */
    --light-link-hover-color: #3700b3; /* Darker purple link hover */
    --light-card-background-color: #f5f5f5; /* Light card background */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#__nuxt {
    min-height: 100dvh !important;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: 'Parkinsans', 'Roboto', sans-serif;
}

h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Itim', 'Roboto', sans-serif;
}

p, a {
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

code, pre, kbd {
    font-family: 'Inconsolata', monospace;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}