@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../fonts/keep-calm.css';
@import './design-system.css';
@import './global.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-pink-600;
}

.rainbow-bg {
  @apply bg-gradient-to-r from-primary to-pink-600;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: none !important;
  transition: none;
}

html {
  margin: 0 !important;
  padding: 0 !important;

}

body {
  min-height: calc(100vh);
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* Typography */

.material-icons {
  position: relative;
  height: 16px !important;
}


.container {
  max-width: 100dvw !important;
  overflow: hidden;
  min-height: calc(100dvh - 177px) !important
}

.x-sp {
  margin-left: 20px;
  margin-right: 20px;
}

.y-sp {
  margin-top: 20px;
  margin-bottom: 20px;
}

.x2-sp {
  margin-left: 40px;
  margin-right: 40px;
}

.y2-sp {
  margin-top: 40px;
  margin-bottom: 40px;
}

div[class$="-mode"] {
  transition: all 1s ease-out;
}

.light {
  background: #d1d1d1;
  color: #272727;
}

.dark {
  color: #fff;
  background: #272727;
}

/* Personality Experience */
.bg-experience {
  transition: ease-in-out .25s;
}

.bg-experience nav::before {
  display: none;
}

.blocked-alert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  border-left: 5px solid rgb(246, 255, 0);
  padding: 10px 20px;
  background-color: rgba(228, 244, 54, .07);
}

.blocked-alert .title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.blocked-alert .description {
  font-size: 1rem;
  margin: 0;
  padding: .25rem 0 .5rem;
  font-weight: 400;
}

.blocked-alert .description a {
  color: #907ff3;
  text-decoration: underline;
}

/* Blog */
.dark .content .prose :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
  color: rgb(255, 255, 255);
}

.dark .content .prose :where(a):not(:where(.not-prose, .not-prose *)) {
  color: rgb(255, 255, 255);
}

.dark .content .prose :where(p):not(:where(.not-prose, .not-prose *)) {
  color: rgb(255, 255, 255);
}

/* Flags */
.flag.flag-pt_BR {
  background-image: url('/assets/images/icons/Flag_Brazil.png');
  background-image: url('/assets/images/icons/Flag_Brazil.svg');
}

.flag.flag-en_US {
  background-image: url('/assets/images/icons/Flag_USA.png');
  background-image: url('/assets/images/icons/Flag_USA.svg');
}

.flag.flag-es_ES {
  background-image: url('/assets/images/icons/Flag_Spain.png');
  background-image: url('/assets/images/icons/Flag_Spain.svg');
}

.flag.flag-fr_FR {
  background-image: url('/assets/images/icons/Flag_France.png');
  background-image: url('/assets/images/icons/Flag_France.svg');
}

.flag.flag-ja_JP {
  background-image: url('/assets/images/icons/Flag_Japan.png');
  background-image: url('/assets/images/icons/Flag_Japan.svg');
}

.flag.flag-zh_CN {
  background-image: url('/assets/images/icons/Flag_China.png');
  background-image: url('/assets/images/icons/Flag_Chinese.svg');
}

.flag.flag-it_IT {
  background-image: url('/assets/images/icons/Flag_Italy.png');
  background-image: url('/assets/images/icons/Flag_Italy.svg');
}

.flag.flag-ru_RU {
  background-image: url('/assets/images/icons/Flag_Russia.png');
  background-image: url('/assets/images/icons/Flag_Russia.svg');
}

.flag.flag-ko_KR {
  background-image: url('/assets/images/icons/Flag_SouthKorea.png');
  background-image: url('/assets/images/icons/Flag_SouthKorea.svg');
}

.flag.flag-de_DE {
  background-image: url('/assets/images/icons/Flag_Germany.png');
  background-image: url('/assets/images/icons/Flag_Germany.svg');
}

.flag.flag-pt_PT {
  background-image: url('/assets/images/icons/Flag_Portugal.png');
  background-image: url('/assets/images/icons/Flag_Portugal.svg');
}

.flag {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.flag.rounded {
  border-radius: 10%;
}

.flag.circle {
  border-radius: 50%;
}

.flag.rectangle {
  background-size: contain;
}

.flag-text {
  text-transform: uppercase !important;
  margin-right: .5em;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.footer p {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.footer p a {
  color: inherit;
  font-weight: 500;
  opacity: 0.6;
}

.light .footer .views-counter {
  filter: invert(1) !important;
}